.input-validate.has-error input {
    background-image: linear-gradient(#009688, #009688), linear-gradient(#a94442, #a94442);
}

.input-validate.has-error .help-block {
    display: block;
}

.container {
    position: relative;
}